teacher
.DS_Store

# exercise solutions

# 01
/sphinx/build/html/exercises/solution/01_strings/*
/docs/exercises/solution/01_strings/*

# 02
/sphinx/build/html/exercises/solution/02_lists/*
/docs/exercises/solution/02_lists/*

# 03
/sphinx/build/html/exercises/solution/03_os_sub_req/*
/docs/exercises/solution/03_os_sub_req/*


# 04 OOP
/sphinx/build/html/exercises/solution/oop/*
/docs/exercises/solution/oop/*
